<section class="mainContent">
    <div id="listaContatos">
        <h2 class="title">Lista de Contatos</h2>
        <div class="buttonGroup">
            <button class="navButton" (click)="setShow()"><span class="material-symbols-outlined">
                expand_more
                </span></button>
        </div>
        <div class="inputBox" *ngIf="getShow()">
            <input type="text" class="form-control searchInput" placeholder="Procure pelo nome do contato...">
        </div>
        <table class="table table-stripped m-5">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody *ngIf="this.contatos[0] != undefined">
                <tr *ngFor="let ct of contatos">
                    <td>{{ct.nome}}</td>
                    <td>{{ct.email}}</td>
                    <td>{{ct.fone}}</td>
                    <td><button class="btnList cancelBtn" (click)="excluir(ct.id)">
                            <span class="material-symbols-rounded">
                                delete
                            </span>
                        </button>
                    </td>
                    <td><button class="btnList editBtn" [routerLink]="'/editarContato/' + ct.id">
                            <span class="material-symbols-rounded gearSimbol">
                                settings
                            </span>
                        </button></td>
                </tr>
            </tbody>
        </table>
        <div class="noResultsContainer" *ngIf="this.contatos[0] == undefined">
            <p class="noResults">Nada para mostrar. <br/> Vá e cadastre um contato.</p>
        </div>
    </div>
</section>