* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3.5rem;
}

h5 {
    font-size: 3rem;
}

h6 {
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
}
label {
    font-size: 2rem;
}
.mainContent{
    width: 100%;
    height: 100vh;
    min-width: 100%;
    max-height: 100vh;
    padding: 5rem;
}

.title{
    text-align: center;
}

.myBtnGroup{
    width: 100%;
    margin-top: .7rem;
    height: 4rem;
    padding: 0.5rem;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.myBtn{
    width: 10%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin: 0 5rem 0 0;
    transition: 0.5s all ease-in-out;
}
.myBtn:hover{
    cursor: pointer;
    box-shadow: 0.2rem 0.2rem #000;
}
.saveBtn{
    color: #fff;
    background: #1ead66;
}
.saveBtn:hover{
    background: #20bf6b;
}
.saveBtn:disabled{
    background-color: #06572c;
    box-shadow: none;
    opacity: 0.7;
    cursor: default;
}
.cancelBtn, .excludeBtn{
    color: #fff;
    background: #c0392b;
}
.cancelBtn:hover{
    background: #eb2f06;
}

.editBtn{
    background: #fbc531;
    color: #fff;
}
.editBtn:hover{
    background: #e1b12c;
}